/* Colors */
$primary-color: #333333 !default;
$secondary-color: #0F0F0F !default;
$tertiary-color: #2F2F2F !default;
$quaternary-color: #EEEEEE !default;
$danger-color: #D9322A;

/* Body, Sections, and Headers */
$body-background-color: $primary-color !default;
$body-text-color: $quaternary-color;
$header-text-color: $quaternary-color;
$section-header-border-bottom: 1px solid $quaternary-color !default;

/* Navbar */
$navbar-nav-selected-text-color: $secondary-color !default;
$navbar-nav-selected-background-color: $primary-color !default;
$navbar-nav-selected-border-left: 3px solid $primary-color !default;
$navbar-nav-hover-text-color: $quaternary-color !default;
$navbar-nav-hover-border-left: 3px solid $tertiary-color;

/* Nav */
$nav-non-default-state: $tertiary-color !default;

/* Modal */
$modal-body-table-hover-background-color: $tertiary-color;

/* Wells */
$well-background-color: $secondary-color;
$well-hover-background-color: $tertiary-color;

/* Tag */
$tag-text-color: $quaternary-color;
$tag-background-color: $secondary-color;

/* Morris Chart Library */
$morris-hover-background-color: $primary-color !default;
$morris-hover-text-color: $quaternary-color !default;

/* Search bar */
$search-bar-background-color: $secondary-color;
$search-bar-border-width: 0;
$search-bar-text-color: $quaternary-color;
