/* Colors */
$primary-color: #2C2C39 !default;
$secondary-color: #22222D !default;
$tertiary-color: #2F2F2F !default;
$quaternary-color: #FFFFFF !default;
$quinary-color: #5F97FB !default;
$senary-color: #4d4d64 !default;

$danger-color: #D9322A;

/* Body, Sections, and Headers */
$body-background-color: $primary-color !default;
$body-text-color: $quaternary-color !default;
$header-text-color: $quaternary-color !default;
$section-header-border-bottom: 1px solid $quaternary-color !default;

/* Breadcrumb */
$breadcrumb-background-color: #424256 !default;
$breadcrumb-border-color: #21212b !default;
$breadcrumb-text-color: $body-text-color !default;

/* Dropdown */
$dropdown-background-color: $body-background-color !default;
$dropdown-text-color: $body-text-color !default;

/* Nav */
$nav-text-color: $body-text-color !default;
$nav-non-default-state: $tertiary-color !default;

/* Navbar */
$navbar-background-color: $senary-color !default;
$navbar-text-color: $body-text-color !default;
$navbar-border-color: #424256 !default;

/* Panels */
$panel-text-color: $body-text-color !default;
$panel-border-color: #21212b !default;
$panel-default-background-color: #424256 !default;
$panel-default-heading-background-color: #373747 !default;

/* Tables */
$table-tr-background-color: #373747 !default;

/* Sidebar */
$sidebar-background-color: $secondary-color !default;
$sidebar-nav-text-color: $body-text-color !default;
$sidebar-nav-hover-text-color: $body-text-color !default;

/* Wells */
$well-background-color: $secondary-color !default;
$well-hover-background-color: $tertiary-color !default;