/* Colors */
/* Body, Sections, and Headers */
/* Breadcrumb */
/* Dropdown */
/* Nav */
/* Navbar */
/* Panels */
/* Tables */
/* Sidebar */
/* Wells */
/* Colors */
/* Body, Sections and Headers */
/* Breadcrumb */
/* Buttons */
/* Dropdown */
/* Nav */
/* Navbar */
/* Sidebar */
/* Panels */
/* Tables */
/* Timestamp */
/* Wells */
html, html a {
  -webkit-font-smoothing: antialiased !important; }

body {
  font-size: 13px;
  padding-left: 50px;
  background-color: #2c2c39;
  font-weight: 400;
  color: white;
  font-family: 'Roboto', sans-serif; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: white; }

hr {
  margin-top: 20px;
  margin-bottom: 20px; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

.section-header {
  font-size: 23px;
  font-weight: 300;
  border-bottom: 1px solid white; }

.text-muted {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 400;
  padding-top: 10px; }

.mb15 {
  margin-bottom: 15px; }

.mg-t-md {
  margin-top: 25px; }

.mg-r-sm {
  margin-right: 10px; }

.table > tbody > tr > td {
  vertical-align: middle; }

.table .hiddenRow {
  padding: 0 !important; }

a {
  color: #5f97fb; }

/* Colors */
/* Body, Sections and Headers */
/* Breadcrumb */
/* Buttons */
/* Dropdown */
/* Nav */
/* Navbar */
/* Sidebar */
/* Panels */
/* Tables */
/* Timestamp */
/* Wells */
.badge {
  position: relative;
  top: -16px;
  right: 10px;
  color: #FFFFFF;
  font-weight: 700;
  padding: 2px 5px; }

.badge-critical {
  background-color: #ea5443; }

.badge-warning {
  background-color: #f9ba46; }

.badge-success {
  background-color: #43ac6a; }

.badge-unknown {
  background-color: #9c9990; }

.badge-default {
  background-color: #22222d; }

/* Colors */
/* Body, Sections and Headers */
/* Breadcrumb */
/* Buttons */
/* Dropdown */
/* Nav */
/* Navbar */
/* Sidebar */
/* Panels */
/* Tables */
/* Timestamp */
/* Wells */
.breadcrumb {
  background-color: #424256;
  border-color: #21212b;
  font-size: 11px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 0px; }

.breadcrumb > .active {
  color: white; }

/* Colors */
/* Body, Sections and Headers */
/* Breadcrumb */
/* Buttons */
/* Dropdown */
/* Nav */
/* Navbar */
/* Sidebar */
/* Panels */
/* Tables */
/* Timestamp */
/* Wells */
.btn {
  font-family: 'Roboto', sans-serif; }

.circle-critical {
  background-color: #ea5443; }

.circle-warning {
  background-color: #f9ba46; }

.circle-success {
  background-color: #43ac6a; }

.circle-unknown {
  background-color: #9c9990; }

.circle {
  width: 10px;
  height: 10px;
  padding: 0 0 0 0;
  font-size: 15px;
  border-radius: 50%;
  outline: none !important;
  margin-right: 7px;
  display: inline-block; }

/* Colors */
/* Body, Sections and Headers */
/* Breadcrumb */
/* Buttons */
/* Dropdown */
/* Nav */
/* Navbar */
/* Sidebar */
/* Panels */
/* Tables */
/* Timestamp */
/* Wells */
.client .panel {
  margin-top: 21px; }

.client .client-info .title {
  font-size: 18px;
  font-weight: bold; }

.client .panel-heading .icon {
  font-size: 18px; }

.client .panel-heading .icon i {
  padding-left: 5px; }

.client .client-info .attributes {
  padding-top: 15px;
  padding-bottom: 15px; }

.client .key {
  font-weight: bold; }

.client .value {
  overflow-wrap: break-word; }

.client .check-info .title {
  font-size: 14px;
  font-weight: bold; }

.client .check-output {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

/* Colors */
/* Body, Sections and Headers */
/* Breadcrumb */
/* Buttons */
/* Dropdown */
/* Nav */
/* Navbar */
/* Sidebar */
/* Panels */
/* Tables */
/* Timestamp */
/* Wells */
.dropdown-menu {
  background-color: #2c2c39;
  color: white; }

.dropdown-menu > li > a {
  color: white;
  padding: 3px 20px; }

.dropdown-menu.left {
  left: -275%; }

.show-on-hover:hover > div.dropdown-menu {
  display: block; }

.navbar .dropdown-menu {
  min-width: 250px; }

.navbar .dropdown-menu > li > a, .navbar .dropdown-menu > li > a:focus {
  font-weight: 400; }

.navbar .dropdown-menu {
  top: 85%; }

.navbar .dropdown-menu .heading {
  padding: 40px; }

/* Colors */
/* Body, Sections and Headers */
/* Breadcrumb */
/* Buttons */
/* Dropdown */
/* Nav */
/* Navbar */
/* Sidebar */
/* Panels */
/* Tables */
/* Timestamp */
/* Wells */
.info .center {
  text-align: center; }

.info .number {
  font-weight: 700;
  font-size: 28px; }

.info .title {
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: #5f97fb; }

/* Colors */
/* Body, Sections and Headers */
/* Breadcrumb */
/* Buttons */
/* Dropdown */
/* Nav */
/* Navbar */
/* Sidebar */
/* Panels */
/* Tables */
/* Timestamp */
/* Wells */
.nav-list {
  font-size: 13px;
  text-transform: uppercase; }

.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
  border: 0px; }

.nav-tabs.nav-justified > li > a {
  border: 0px; }

.nav > li {
  position: relative;
  display: block; }

.nav > li > a {
  color: white;
  font-size: 13px;
  font-weight: 400; }

.nav > li > a:hover, .nav > li > a:focus {
  background-color: #2f2f2f; }

.nav-filter {
  padding-top: 15px; }

.nav-filter .text {
  padding-right: 5px; }

.nav-filter .form-control {
  width: auto;
  height: auto;
  display: inline; }

.nav-filter .form-control.subscriptions {
  width: 140px; }

.nav-dc {
  text-transform: uppercase; }

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus, li > a.active {
  color: white;
  background-color: inherit;
  border-bottom: 3px solid #5f97fb; 
  margin-bottom: -3px;
  z-index: 10; }

/* Colors */
/* Body, Sections and Headers */
/* Breadcrumb */
/* Buttons */
/* Dropdown */
/* Nav */
/* Navbar */
/* Sidebar */
/* Panels */
/* Tables */
/* Timestamp */
/* Wells */
.navbar {
  color: white;
  height: 61px;
  background-color: #4d4d64;
  margin-bottom: 0px;
  border-bottom: 1px solid #424256; }

.navbar > .container-fluid {
  padding-top: 5px; }

.navbar > .container-fluid > .navbar-header > .navbar-brand {
  padding: 9px 15px;
  margin-left: 0px; }

.navbar .nav > li > a {
  font-size: 28px;
  color: white;
  background-color: #4d4d64; }

.navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
  background-color: #4d4d64; }

.navbar hr {
  margin-top: 10px;
  margin-bottom: 10px; }

.navbar .panel {
  font-size: 13px;
  font-weight: 400;
  border: 0px;
  margin-bottom: 0px; }

.navbar .panel-body {
  padding-top: 15px;
  padding-bottom: 15px; }

.navbar .panel.panel-top {
  color: white;
  text-align: center;
  font-weight: 700; }

.navbar .panel.panel-bottom {
  text-transform: uppercase; }

.navbar .panel .total {
  font-size: 38px; }

.navbar .panel .category {
  text-transform: uppercase;
  font-size: 15px; }

.navbar .panel .small-category {
  text-transform: uppercase;
  font-size: 11px; }

.navbar .panel .dc-title {
  font-size: 15px;
  text-align: center; }

.navbar .panel .count {
  font-weight: 700; }

/* Colors */
/* Body, Sections and Headers */
/* Breadcrumb */
/* Buttons */
/* Dropdown */
/* Nav */
/* Navbar */
/* Sidebar */
/* Panels */
/* Tables */
/* Timestamp */
/* Wells */
.panel-heading {
  font-weight: 700; }

.panel-body {
  padding-bottom: 10px; }

.panel-default {
  background-color: #424256;
  color: white;
  border-color: #21212b; }

.panel-default > .panel-heading {
  background-color: #373747;
  color: white;
  border-color: #21212b; }

.panel-blue {
  background-color: #22222d; }

.panel-critical {
  background-color: #ea5443; }

.panel-warning {
  background-color: #f9ba46; }

.panel-success {
  background-color: #43ac6a; }

.panel-unknown {
  background-color: #9c9990; }

/* Colors */
/* Body, Sections and Headers */
/* Breadcrumb */
/* Buttons */
/* Dropdown */
/* Nav */
/* Navbar */
/* Sidebar */
/* Panels */
/* Tables */
/* Timestamp */
/* Wells */
.sidebar {
  background-color: #22222d; }

.nav > .logo {
  background-color: #5f97fb;
  border-left: 3px #5f97fb;
  display: block;
  padding-left: 16px;
  padding-right: 15px;
  padding-top: 10px;
  height: 60px; }

.sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 50px;
  height: 100%;
  border-radius: 0px;
  border: 0px;
  z-index: 1030; }

.sidebar.open {
  width: 240px; }

.sidebar > .container {
  padding: 0px;
  width: 100%; }

.sidebar .sidebar-header,
.sidebar .sidebar-brand {
  float: none;
  display: block;
  width: 100%;
  margin: 0px; }

.sidebar .sidebar-brand {
  height: 50px; }

.sidebar > .container .sidebar-brand {
  padding: 0px;
  margin: 0px; }

.sidebar > .container .sidebar-brand > .small-nav {
  display: block; }

.sidebar.open > .container .sidebar-brand {
  width: 100%;
  padding: 15px 15px 60px;
  text-align: center; }

.sidebar .sidebar-nav > li {
  float: none; }

.sidebar > .container .full-nav {
  display: none; }

.sidebar.open > .container .full-nav {
  display: block; }

.sidebar.open > .container .small-nav {
  display: none; }

.sidebar .sidebar-collapse {
  padding: 0px; }

.sidebar .sidebar-nav {
  float: none;
  margin: 0px; }

.sidebar .sidebar-nav > li > a {
  color: white;
  padding: 0px;
  border-left: 3px solid #22222d; }

.sidebar .sidebar-nav > li > a:hover {
  color: white;
  background-color: #22222d;
  border-left: 3px solid #5f97fb; }

.sidebar .sidebar-nav > .selected > a {
  color: #2c2c39;
  background-color: #22222d;
  border-left: 3px solid #2c2c39; }

.sidebar .sidebar-nav > li > a > span {
  display: block;
  font-size: 16pt;
  padding: 13px 15px 13px 12px; }

.sidebar .tooltip,
.sidebar .tooltip .tooltip-inner {
  max-width: auto;
  white-space: nowrap;
  color: #2c2c39; }

.sidebar .tooltip .tooltip-inner {
  background-color: #5f97fb; }

.tooltip.right .tooltip-arrow {
  border-right: 5px solid #5f97fb; }

/* Colors */
/* Body, Sections and Headers */
/* Breadcrumb */
/* Buttons */
/* Dropdown */
/* Nav */
/* Navbar */
/* Sidebar */
/* Panels */
/* Tables */
/* Timestamp */
/* Wells */
.table {
  margin-bottom: 10px; }

.table td i {
  font-size: 15px;
  padding-left: 3px; }

.table td.main {
  font-weight: 700; }

.table td.output {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.table td.check-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.table th.col-min {
  width: 3%; }

.table th.col-dc {
  width: 8%; }

.table th.col-date {
  width: 13.5%; }

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
  border-top: 0px; }

.table > thead tr th, .table > thead > tr > th {
  padding-top: 15px !important;
  padding-top: 15px !important;
  border: none; }

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
  background-color: #373747 !important; }

/* Colors */
/* Body, Sections and Headers */
/* Breadcrumb */
/* Buttons */
/* Dropdown */
/* Nav */
/* Navbar */
/* Sidebar */
/* Panels */
/* Tables */
/* Timestamp */
/* Wells */
.well {
  border: 0px;
  margin-bottom: 5px;
  background-color: #22222d; }

.well-success {
  border-left: 3px solid #43ac6a; }

.well-warning {
  border-left: 3px solid #f9ba46; }

.well-critical {
  border-left: 3px solid #ea5443; }

.well-unknown {
  border-left: 3px solid #9c9990; }

.well-default {
  border-left: 3px solid #22222d; }

.well .lead {
  margin-bottom: 5px;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  font-size: 18px; }

.well span {
  display: block; }

.well:hover {
  background-color: #2f2f2f; }
