<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>uchiwa</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="css/uchiwa.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/toastr.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

    <!-- Dashboard scripts -->
    <script src="js/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/async.js"></script>
    <script src="js/underscore-min.js"></script>
    <script src="js/toastr.min.js"></script>
    <script src="js/check.js"></script>
    <script src="js/client.js"></script>
    <script src="js/event.js"></script>
    <script src="js/history.js"></script>
    <script src="js/stash.js"></script>
    <script src="js/uchiwa.js"></script>
    <script src="js/socket.js"></script>
    <script src="js/updateChecks.js"></script>
    <script src="js/updateClients.js"></script>
    <script src="js/updateClient.js"></script>
    <script src="js/updateEvents.js"></script>
    <script src="js/updateStashes.js"></script>
  </head>

  <body>

  <div class="navbar navbar-twitch" role="navigation">
    <div class="container">
      <div class="">
        <ul class="nav navbar-nav">
          <li id="dashboard">
            <a href="index">
              <span class="small-nav" data-toggle="tooltip" data-placement="right" title="Dashboard">
                <i class="fa fa-tachometer"></i>
              </span>
            </a>
          </li>
          <li id="clients">
            <a href="clients">
              <span class="small-nav" data-toggle="tooltip" data-placement="right" title="Clients">
                <i class="fa fa-hdd-o"></i>
              </span>
            </a>
          </li>
          <li id="stashes">
            <a href="stashes">
              <span class="small-nav" data-toggle="tooltip" data-placement="right" title="Stashes">
                <i class="fa fa-key"></i>
              </span>
            </a>
          </li>
          <li id="checks">
            <a href="checks">
              <span class="small-nav" data-toggle="tooltip" data-placement="right" title="Checks">
                <i class="fa fa-check-square"></i>
              </span>
            </a>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>

      <!-- Page content -->
      <div id="page-wrapper">
