<!DOCTYPE html>
<html lang="en" ng-app="uchiwa">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>uchiwa</title>

    <!-- Customized Bootstrap -->
    <link href="css/bootstrap-uchiwa/bootstrap-uchiwa.css" rel="stylesheet">

    <!-- 3rd Party CSS -->
    <link href="bower_components/fontawesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="bower_components/toastr/toastr.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,700" rel="stylesheet" type="text/css">
    <link href="bower_components/morris.js/morris.css" rel="stylesheet">

    <!-- Uchiwa CSS -->
    <link href="css/uchiwa.css" rel="stylesheet">
  </head>

  <body>
  <div class="navbar navbar-twitch" role="navigation" ng-controller="init">
    <div class="container">
      <div class="">
        <ul class="nav navbar-nav">
          <li id="dashboard">
            <a href="index">
              <span class="small-nav" data-toggle="tooltip" data-placement="right" title="Dashboard">
                <i class="fa fa-tachometer"></i>
              </span>
            </a>
          </li>
          <li id="clients">
            <a href="clients">
              <span class="small-nav" data-toggle="tooltip" data-placement="right" title="Clients">
                <i class="fa fa-hdd-o"></i>
              </span>
            </a>
          </li>
          <li id="stashes">
            <a href="stashes">
              <span class="small-nav" data-toggle="tooltip" data-placement="right" title="Stashes">
                <i class="fa fa-key"></i>
              </span>
            </a>
          </li>
          <li id="checks">
            <a href="checks">
              <span class="small-nav" data-toggle="tooltip" data-placement="right" title="Checks">
                <i class="fa fa-check-square"></i>
              </span>
            </a>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
  <!-- Page content -->
  <div id="page-wrapper">
