*~
.DS_Store
.DS_Store?
pids
logs
results
node_modules
config.js
config.json
config.json.*
-config.json.example
public/bower_components
.sass-cache
npm-debug.log
.idea/
coverage.out
*.swp

keys/
*.rsa
*.rsa.pub
*.key
*.pem

cover.out
coverage.html
