module.exports = {
  sensu: {
    host: '10.20.30.40',
    port: 4567,
    user: '',
    pass: '',
    path: '/',
    timeout: 5000
  },
  uchiwa: {
    user: '',
    pass: '',
    refresh: 10000
  }
}
