<% include partials/header.html %>
<div class="container-fluid" ng-controller="clients">
  <div class="row-fluid">
    <div class="col-lg-12">
      <h1>Clients</h1>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-lg-2">
      <ul class="nav nav-pills nav-stacked mg-t-md">
        <li>
          <span class="text-muted">Filter</span>
          <div class="input-group">
            <input class="search input-sm" ng-model="query">
          </div>
        </li>
      </ul>
      <ul class="nav nav-pills nav-stacked mg-t-md">
        <li>
          <span class="text-muted">datacenters</span>
        </li>
        <li>
          <a href="#" ng-click="showAll(dc)" class='accordion-toggle'><i class="fa fa-circle blue mg-r-sm"></i> All</a>
        </li>
        <li ng-repeat="datacenter in dc">
          <a href="#" ng-click="showOnly($index, dc)" class='accordion-toggle'><i class="fa fa-circle mg-r-sm {{datacenter.style}}"></i> {{datacenter.name}} ({{datacenter.clients}})</a>
        </li>
      </ul>
    </div>

    <div class="col-lg-10"> 
      <div class="list">
        <div ng-repeat="rows in aggregation">
          <div class="section-header" ng-click="toggleOn($index)" class='accordion-toggle'>
            <i class="fa" ng-class="toggle[$index].hidden ? 'fa-angle-up' : 'fa-angle-down'"></i> {{dc[$index].name}}
          </div>
          <div class='accordian-body' ng-class="toggle[$index].hidden ? 'collapse' : 'in'">
            <div ng-repeat="row in rows">
              <div class="row">
                <div class='col-md-4 client' ng-repeat="client in row | filter:query">
                  <a href='#' id='{{client.name}}' data-toggle='modal' data-target='#client-details' ng-click="getClient(dc[$parent.$parent.$index].name, client.name);">
                    <div class='well {{client.style}}'>
                      <span class='lead'>{{client.name}}<span class='pull-right'><i class="fa {{client.silenceIcon}}" ng-click="stash($event, dc[$parent.$parent.$index].name, client);"></i></span>
                      <span class='subtitle'><strong>{{client.eventsSummary}}</strong></span>
                      <span class='small timestamp'><i class='fa fa-clock-o'></i> {{client.last_check}}</span>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div>
  <% include partials/modal-client.html %>
</div><!-- /.container -->
<% include partials/footer.html %>