<% include partials/header.html %>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-lg-12">
      <h1>Clients</h1>
      <ol class="breadcrumb">
        <a href="/"><li><i class="fa fa-tachometer"></i> Dashboard</a> </li><li class="active"><i class="fa fa-hdd-o"></i> Clients</li>
      </ol>
    </div>
  </div>
  
  <div id="clients-list" class='row-fluid'>

  </div>
      <!-- Modal -->
      <div id="client-details" class="modal modal-wide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <h4><i class="fa fa-hdd-o"></i> <span id="name"></span></h4>
              <div class="row-fluid">
                <div class="col-xs-8">
                  <div class="tab-panel fade in active" id="home">
                    <div id="checks" class="list-group">
                      <span class='not-found'><i class='fa fa-spinner fa-spin'></i></span>
                    </div>
                  </div>
                </div>
                <div class="col-xs-4">
                  <div class="sparkline-graph"></div>
                </div>
              </div><!-- /.row -->
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

  </div><!-- /.row -->
</div><!-- /.container -->
<% include partials/footer.html %>