<% include partials/header.html %>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-lg-12">
      <h1>Events</h1>
      <ol class="breadcrumb">
        <a href="/"><li><i class="fa fa-tachometer"></i> Dashboard</a> </li><li class="active"><i class="fa fa-exclamation-triangle"></i> Events</li>
      </ol>
    </div>
      
    <div class="col-lg-9">
      <div id="menu-buttons" class="menu-buttons">
        <span class="pull-right last-update"></span>
      </div>
      <!-- Content -->
      <div class="tab-content">
        <div class="tab-panel fade in active" id="home">
          <div id="events-list" class="list-group"></div>
        </div>
      </div>
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-3">

    </div>
    <!-- /.col-lg-4-->

  </div><!-- /.row -->
</div><!-- /.container -->
<% include partials/footer.html %>