<% include partials/header.html %>
<script>
$(document).ready(function () {
  fetchAll();
});
</script>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-lg-12">
      <h1>Uchiwa</h1>
    </div>
  </div><!-- /.row -->

  <div class="row">
    <div class="dashboard">
      <div class="col-lg-3">
        <div id="events" class="default">
          <div class="small">Events</div>
          <i class="fa fa-bell fa-4x"></i>&nbsp;&nbsp;&nbsp;
          <span class="count">0</span>
        </div>
      </div>
      <div class="col-lg-3">
        <div id="critical" class="default">
          <div class="small">Clients in critical state</div>
          <i class="fa fa-ban fa-4x"></i>&nbsp;&nbsp;&nbsp;
          <span class="count">0</span>
        </div>
      </div>
      <div class="col-lg-3">
        <div id="warning" class="default">
          <div class="small">Clients in non-critical state</div>
          <i class="fa fa-exclamation-triangle fa-4x"></i>&nbsp;&nbsp;&nbsp;
          <span class="count">0</span>
        </div>
      </div>
      <div class="col-lg-3">
        <div id="clients" class="default">
          <div class="small">Clients</div>
          <i class="fa fa-hdd-o fa-4x"></i>&nbsp;&nbsp;&nbsp;
          <span class="count">0</span>
        </div>
      </div>
    </div>
  </div><!-- /.row -->

  <div id="events-list" class="list">

  </div>

  <% include partials/modal-client.html %>

</div><!-- /.container -->
<% include partials/footer.html %>
