<% include partials/header.html %>
<div class="container-fluid" ng-controller="stashes">
  <div class="row-fluid">
    <div class="col-lg-12">
      <h1>Stashes</h1>
    </div>
  </div>
  <div class="list">
    <div class="row-fluid">
      <div class="col-lg-12 input-group">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
        <input class="search" ng-model="query">
      </div>
    </div>
    <div ng-repeat="row in rows">
      <div class="row">
        <div class='col-md-4 client' ng-repeat="stash in row | filter:query">
          <div class='well default'>
            <span class='lead'>{{stash.client}}<span class='pull-right'><i class='fa fa-times' ng-click="deleteStash(stash, $index);"></i></span></span>
            <span class='subtitle'><strong>{{stash.check}}</strong></span>
            <span class='small timestamp'><i class='fa fa-clock-o'></i> {{stash.last_check}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div ng-show="rows.length == 0" ng-cloak>
    <div class='not-found'><i class='fa fa-thumbs-o-up'></i></div>
    <div class='not-found'> No stashes found!</div>
  </div>

</div><!-- /.container -->
<% include partials/footer.html %>