html, html a {
  -webkit-font-smoothing: antialiased !important;;
}

body { 
  padding-left: 65px;
  background-color: #fff;
  font-weight: 400;
  color: #4d4d4d;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #56575B;
}

.navbar {
  background-color: #2C394A;
}
.navbar-twitch {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 50px;
  height: 100%;
  border-radius: 0px;
  border: 0px;
    z-index: 1030;
}
.navbar-twitch.open {
  width: 240px;
}
.navbar-twitch > .container {
  padding: 0px;
  width: 100%;
}
.navbar-twitch .navbar-header,
.navbar-twitch .navbar-brand {
  float: none;
  display: block;
  width: 100%;
  margin: 0px;
}
.navbar-twitch .navbar-brand {
    height: 50px;   
}
.navbar-twitch > .container .navbar-brand {
  padding: 0px;
  margin: 0px;
}
.navbar-twitch > .container .navbar-brand > .small-nav {
  display: block;
}
.navbar-twitch > .container .navbar-brand > .small-nav > span.logo, 
.navbar-twitch.open > .container .navbar-brand > .full-nav {
    display: block;
  font-weight: bold;
  padding: 15px 2px 15px 3px;
  font-size: 18pt;
}
.navbar-twitch.open > .container .navbar-brand {
  width: 100%;
  padding: 15px 15px 60px;
  text-align: center;
}
.navbar-twitch.navbar-inverse > .container .navbar-brand > .small-nav > span.logo {
  /*color: rgb(255, 255, 255);*/
}
.navbar-twitch .navbar-nav > li {
  float: none;
}
.navbar-twitch > .container .full-nav {
  display: none;
}
.navbar-twitch.open > .container .full-nav {
  display: block;
}
.navbar-twitch.open > .container .small-nav {
  display: none;
}
.navbar-twitch .navbar-collapse {
  padding: 0px;
}
.navbar-twitch .navbar-nav {
  float: none;
  margin: 0px;
}
.navbar-twitch .navbar-nav > li > a {
  color: #fff;
  padding: 0px;
  border-left: 3px solid #2C394A;
}
.navbar-twitch .navbar-nav > li > a:hover {
  color: #fff;
  background-color: #2C394A;
  border-left: 3px solid #5F97FB;
}
.navbar-twitch .navbar-nav > .selected > a {
  color: #2C394A;
  background-color: #fff;
  border-left: 3px solid #fff;
}
.navbar-twitch .navbar-nav > li > a > span {
  display: block;
  font-size: 16pt;
  padding: 13px 15px 13px 12px;
}
.navbar-twitch .tooltip,
.navbar-twitch .tooltip .tooltip-inner {
  max-width: auto;
  white-space:nowrap;
}

/* Modal */

.modal-body {
  background-color: #fff;
}
.modal.modal-wide .modal-dialog {
  width: 95%;
  padding: 20px 0px 20px 0px;
}

.modal-wide .modal-body {
  overflow-y: auto;
  padding-top: 0px;
}

.not-found {
  text-align: center;
}
.not-found .fa {
  font-size: 150px;
}

hr {
  margin-top: 5px;
  margin-bottom: 10px;
}

/* Navigation buttons */
.btn-circle {
  width: 25px;
  height: 25px;
  text-align: center;
  padding: 0 0 0 0;
  font-size: 15px;
  background-color: #fff;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-width: 2px;
  outline:none!important;
  margin-right: 7px;
}
.btn-red {
  color: #DA3610;
  border-color: #DA3610;
}
.btn-green {
  color: #43ac6a;
  border-color: #43ac6a;
}
.btn-circle:hover {
  color: #000
}

#clients-list {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px;
}
#clients-list a {
  text-decoration:none;
  color: #000;
}

#client-details td span.output {
  text-overflow: ellipsis;
  overflow : hidden;
  display: block;
  max-width: 320px;
  white-space: nowrap;
}
.well {
  border: 0px;
}
.well.success {
  border-left: 3px solid #43ac6a;
}
.well.warning {
  border-left: 3px solid #e99002;
}
.well.danger {
  border-left: 3px solid #F04124;
}
.well .lead{
  margin-bottom: 10px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333;
  font-size: 18px;
}
.well span {
  display: block;
}
.well:hover {
  background-color: rgb(255, 255, 204);
}

.table>tbody>tr>td {
  vertical-align: middle;
}
.table .hiddenRow {
    padding: 0 !important;
}

.btn-hover {
  font-weight: normal;
  color: #333333;
  cursor: pointer;
  background-color: inherit;
  border-color: transparent;
  width: 50%;
}

.btn.disabled {
  color: #C8C8C8;
  width: 50%;
}

.panel {
  border: 0px;
  -webkit-box-shadow:0 0 0;
  box-shadow:0 0 0;
}

.panel .panel-title {
  font-size: 15px;
  text-transform: uppercase;
}

.panel .list-group-item {
  height:auto; overflow:auto;
  border-right: 0px;
  border-left: 0px;
}

.label {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 10px;
}

.breadcrumb {
  font-size: 12px;
}

.timestamp {
  color: #333;
  font-size: 12px;
}

.btn-black {
  background: #2C394A;
  color: #fff;
  border-color: #222;
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
   background: #2C394A;
   border-color: #2C394A;
   color: #fff;
}

.title {
  text-transform: uppercase;
}

.subtitle {
  text-transform: uppercase;
  font-size: 12px;
}

.dashboard {
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
  text-align: center;
} 

.dashboard fa {
  text-align: left;
}

.dashboard .critical {
  background-color: #F04124;
  min-height: 125px;
}

.dashboard .warning {
  background-color: #e99002;
  min-height: 125px;
}

.dashboard .success {
  background-color: #43ac6a;
  min-height: 125px;
}

.dashboard .default {
  background-color: #2C394A;
  min-height: 125px;
}

.dashboard .count {
  font-weight: 700;
  font-size: 60px;
} 

.dashboard .small {
  font-size: 15px;
  font-weight: 700;
  padding-top: 15px;
}