@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

html, html a {
    -webkit-font-smoothing: antialiased !important;;
}

body { 
  padding-top: 40px;
  background-color: #fff;
  font-weight: 600;
  color: #4d4d4d;
}
.navbar {
  background-color: #32323a;
  font-weight: 600;
}
.navbar-nav > .selected,
.navbar-nav > .selected a {
  background-color: #28282e;
}
.navbar-default .navbar-nav> .selected > a {
color: #fff;
}
.breadcrumb {
  background-color: #32323a;
  text-transform: none;
}
.breadcrumb .active {
  color: #fff;
}
.breadcrumb a {
  color: #fff;
}

/* Modal */

.modal-body {
  background-color: #fff;
}
.modal.modal-wide .modal-dialog {
  width: 95%;
  padding: 20px 0px 20px 0px;
}

.modal-wide .modal-body {
  overflow-y: auto;
  padding-top: 0px;
}

.modal-wide .modal-body .tab-content { 
  margin-bottom: 200px;
}
.not-found {
  text-align: center;
}
.not-found .fa {
  font-size: 150px;
}

/* Spans */
.tab-panel .list-group-item { 
  border:0;
}
.test { 
  padding: 0px;
}
.tab-panel .list-group-item .output {
  display:inline-block;
  max-width: 30%;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align:top
}
.tab-panel .list-group-item .first {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.tab-panel .list-group-item .last {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.tab-panel .list-group .checkbox {
  display: inline-block;
  margin: 0px;
}
.tab-panel .list-group input[type="checkbox"]{
  margin-top: 2px;
}
.tab-panel .list-group .fa {
  margin-right:5px;
}
.tab-panel .success {
  border-left: 6px solid #43ac6a;
}
.tab-panel .warning {
  border-left: 6px solid #e99002;
}
.tab-panel .danger {
  border-left: 6px solid #F04124;
}
a.list-group-item.read {
  color: #222;
  background-color: #F3F3F3;
}
a.list-group-item:hover {
  color: #000;
  background-color: rgb(255, 255, 204);
}
hr {
  margin-top: 5px;
  margin-bottom: 10px;
}
.nav-pills>li>a {
  padding: 5px 10px;
}

/* Navigation buttons */
.btn-circle {
  width: 25px;
  height: 25px;
  text-align: center;
  padding: 0 0 0 0;
  font-size: 15px;
  background-color: #fff;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-width: 2px;
  outline:none!important;
  margin-right: 7px;
}
.btn-red {
  color: #DA3610;
  border-color: #DA3610;
}
.btn-green {
  color: #43ac6a;
  border-color: #43ac6a;
}
.btn-circle:hover {
  color: #000
}
.menu-buttons {
  padding-bottom: 25px;
}

#clients-list {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px;
}
#clients-list a {
  text-decoration:none;
  color: #000;
}

#client-details td span.output {
  text-overflow: ellipsis;
  overflow : hidden;
  display: block;
  max-width: 330px;
  white-space: nowrap;
}
.well {
  border: 0px;
}
.well.success {
  border-left: 3px solid #43ac6a;
}
.well.warning {
  border-left: 3px solid #e99002;
}
.well.danger {
  border-left: 3px solid #F04124;
}
.well .lead{
  margin-bottom: 10px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333;
  font-size: 18px;
}
.well span {
  display: block;
}
.well:hover {
  background-color: rgb(255, 255, 204);
}

.table>tbody>tr>td {
  vertical-align: middle;
}
.table .hiddenRow {
    padding: 0 !important;
}

.btn-hover {
  font-weight: normal;
  color: #333333;
  cursor: pointer;
  background-color: inherit;
  border-color: transparent;
  width: 50%;
}

.btn.disabled {
  color: #C8C8C8;
}

.panel {
  border: 0px;
  -webkit-box-shadow:0 0 0;
  box-shadow:0 0 0;
}

.panel .panel-heading {
  font-weight: 500;
}

.panel .panel-title {
  font-size: 15px;
  text-transform: uppercase;
}

.panel .list-group-item {
  font-weight: 500;
  height:auto; overflow:auto;
  border-right: 0px;
  border-left: 0px;
}

.label {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 10px;
}

.breadcrumb {
  font-size: 12px;
  font-weight: 600;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning,
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success,
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger
{
  border:0px;
}

.timestamp {
  color: #333;
  font-size: 12px;
  font-weight: 600;
}

.btn-black {
  background: #333;
  color: #fff;
  border-color: #222;
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
   background: #222;
   border-color: #111;
   color: #fff;
}

.title {
  text-transform: uppercase;
}

.subtitle {
  text-transform: uppercase;
  font-size: 12px;
}