html, html a {
  -webkit-font-smoothing: antialiased !important;;
}

body {
  padding-left: 50px;
  background-color: #fffff;
  font-weight: 400;
  color: #4d4d4d;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #56575B;
}

.navbar {
  background-color: #2C394A;
}
.navbar-twitch {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 50px;
  height: 100%;
  border-radius: 0px;
  border: 0px;
    z-index: 1030;
}
.navbar-twitch.open {
  width: 240px;
}
.navbar-twitch > .container {
  padding: 0px;
  width: 100%;
}
.navbar-twitch .navbar-header,
.navbar-twitch .navbar-brand {
  float: none;
  display: block;
  width: 100%;
  margin: 0px;
}
.navbar-twitch .navbar-brand {
    height: 50px;
}
.navbar-twitch > .container .navbar-brand {
  padding: 0px;
  margin: 0px;
}
.navbar-twitch > .container .navbar-brand > .small-nav {
  display: block;
}
.navbar-twitch > .container .navbar-brand > .small-nav > span.logo,
.navbar-twitch.open > .container .navbar-brand > .full-nav {
    display: block;
  font-weight: bold;
  padding: 15px 2px 15px 3px;
  font-size: 18pt;
}
.navbar-twitch.open > .container .navbar-brand {
  width: 100%;
  padding: 15px 15px 60px;
  text-align: center;
}
.navbar-twitch.navbar-inverse > .container .navbar-brand > .small-nav > span.logo {
  /*color: rgb(255, 255, 255);*/
}
.navbar-twitch .navbar-nav > li {
  float: none;
}
.navbar-twitch > .container .full-nav {
  display: none;
}
.navbar-twitch.open > .container .full-nav {
  display: block;
}
.navbar-twitch.open > .container .small-nav {
  display: none;
}
.navbar-twitch .navbar-collapse {
  padding: 0px;
}
.navbar-twitch .navbar-nav {
  float: none;
  margin: 0px;
}
.navbar-twitch .navbar-nav > li > a {
  color: #fff;
  padding: 0px;
  border-left: 3px solid #2C394A;
}
.navbar-twitch .navbar-nav > li > a:hover {
  color: #fff;
  background-color: #2C394A;
  border-left: 3px solid #5F97FB;
}
.navbar-twitch .navbar-nav > .selected > a {
  color: #2C394A;
  background-color: #fff;
  border-left: 3px solid #fff;
}
.navbar-twitch .navbar-nav > li > a > span {
  display: block;
  font-size: 16pt;
  padding: 13px 15px 13px 12px;
}
.navbar-twitch .tooltip,
.navbar-twitch .tooltip .tooltip-inner {
  max-width: auto;
  white-space:nowrap;
}

/* Modal */

.modal-body {
  background-color: #fff;
}
.modal.modal-wide .modal-dialog {
  width: 95%;
  padding: 20px 0px 20px 0px;
}

.modal-wide .modal-body {
  overflow-y: auto;
  padding-top: 0px;
}

.not-found {
  font-size: 30pt;
  text-align: center;
}
.not-found .fa {
  font-size: 50px;
}

hr {
  margin-top: 5px;
  margin-bottom: 10px;
}

/* Navigation buttons */
.btn-circle {
  width: 25px;
  height: 25px;
  text-align: center;
  padding: 0 0 0 0;
  font-size: 15px;
  background-color: #fff;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-width: 2px;
  outline:none!important;
  margin-right: 7px;
}

.critical {
  color: #DA3610;
}
.warning {
  color: #e99002;
}
.success {
  color: #43ac6a;
}
.unknown {
  color: #9C9990;
}

.blue {
  color: #2C394A;
  border-color: #2C394A;
}

.btn-circle:hover {
  color: #000
}

.nav-list {
  font-size: 13px;
  text-transform: uppercase;
}

.nav-list li.active a {
  color: #588FC5;
}

.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:hover, .nav-tabs.nav-justified>.active>a:focus {
  border: 0px;
}

.nav-tabs.nav-justified>li>a {
  border: 0px;
}

/* Modal for client */

.list {
  position: relative;
  padding: 10px 15px 0px 0px;
  min-height: 1px;
  background-color: #ffffff;
}
.list a {
  text-decoration:none;
}
.list td.output {
  text-overflow: ellipsis;
  overflow : hidden;
  max-width: 300px;
  white-space: nowrap;
}
.list td.checkname {
  text-overflow: ellipsis;
  overflow : hidden;
  max-width: 180px;
  white-space: nowrap;
}

.well {
  border: 0px;
  margin-bottom: 5px;
}
.well.success {
  border-left: 3px solid #43ac6a;
}
.well.warning {
  border-left: 3px solid #e99002;
}
.well.danger {
  border-left: 3px solid #F04124;
}
.well.default {
  border-left: 3px solid #2C394A;
}
.well .lead{
  margin-bottom: 5px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333;
  font-size: 18px;
}
.well span {
  display: block;
}
.well:hover {
  background-color: rgb(255, 255, 204);
}

.table>tbody>tr>td {
  vertical-align: middle;
}
.table .hiddenRow {
  padding: 0 !important;
}

.btn-hover {
  font-weight: normal;
  color: #333333;
  cursor: pointer;
  background-color: inherit;
  border-color: transparent;
  width: 40%;
}

.btn-disabled, .btn-disabled:hover {
  color: #C8C8C8;
  width: 40%;
}

.panel {
  border: 0px;
  -webkit-box-shadow:0 0 0;
  box-shadow:0 0 0;
  margin-bottom: 10px
}

.panel.critical, .panel.warning, .panel.success{
  color: #fff;
}

.panel .panel-title {
  font-size: 15px;
  text-transform: uppercase;
}

.panel .list-group-item {
  height:auto; overflow:auto;
  border-right: 0px;
  border-left: 0px;
}

.panel-default {
  background-color: #e4e7ea;
}

.label {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 10px;
}

.breadcrumb {
  font-size: 12px;
}

.btn-black, .btn-blue {
  background: #2C394A;
  color: #fff;
  border-color: #222;
}

.btn-critical {
  background: #F04124;
  color: #fff;
  border:0px;
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
   background: #2C394A;
   border-color: #2C394A;
   color: #fff;
}

.title {
  text-transform: uppercase;
}

.subtitle {
  color: #333;
  text-transform: uppercase;
  font-size: 12px;
}

.subtitle .fa {
  padding-right: 5px;
}

.timestamp {
  color: #333;
  font-size: 12px;
}

.timestamp .fa {
  padding-right: 3px;
}

.dashboard {
  color: #fff;
  padding-top: 20px;
}

.dashboard .panel {
  height: 160px;
}

.dashboard .graph {
  height: 150px;
  color: #fff;
}

.dashboard .icon {
  padding-top: 10px;
  text-align: center;
  display: inline-block;
  width: 100%;
}

.dashboard .stat-label {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0.75;
  padding-top: 5px;
}

.dashboard .count {
  font-weight: 700;
  font-size: 50px;
  line-height: 45px;
}

.dashboard .count-small {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.dashboard .critical {
  background-color: #F04124;
  min-height: 125px;
}

.dashboard .warning {
  background-color: #e99002;
  min-height: 125px;
}

.dashboard .success {
  background-color: #43ac6a;
  min-height: 125px;
}

.dashboard .default {
  background-color: #2C394A;
  min-height: 125px;
}

.tag {
  padding: 3px 7px;
  color: #fff;
  background-color: #2C394A;
  display:inline;
  float: left;
  clear: left;
  margin-bottom: 3px;
  font-size: 12px;
  text-transform: none;
}

.tag .fa {
  padding-right: 5px;
}

.mb15 {
  margin-bottom: 15px;
}

/* Graphics */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.morris-hover.morris-default-style {
  font-size: 12px !important;
  font-weight: 700 !important;
  background-color: #2C394A !important;
  opacity: 0.95 !important;
  font-family: 'Lato', sans-serif !important;
}
.morris-hover.morris-default-style .morris-hover-row-label {
  color: #FFFFFF !important;
}

/* Search bar */
.search {
  display: inline-block;
  width: 100%;
  .box-sizing(border-box);
}
.input-group {
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 5px;
}

.section-header {
  font-size: 23px;
  font-weight: 300;
  border-bottom: 1px solid #eee;
}

.text-muted {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 400;
  padding-top: 10px;
}

.nav>li {
  position: relative;
  display: block;
}

.nav>li>a {
  color: #4d4d4d;
  font-size: 13px;
  font-weight: 400;
}

.mg-t-md {
  margin-top: 25px;
}

.mg-r-sm {
  margin-right: 10px;
}

.client {
  margin-top: 10px;
  padding-left: 7px;
  padding-right: 7px;
}