<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-lg-12">
      <h1>Settings</h1>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-lg-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          Theme
        </div>
        <div class="panel-body">
          <select id="current-theme" class="form-control " ng-model="currentTheme" ng-options="theme.name for theme in themes"></select>
        </div>
      </div>
    </div>
  </div>
</div>
