<div class="navbar navbar-twitch" role="navigation">
  <div class="container">
    <div class="">
      <ul class="nav navbar-nav">
        <li id="dashboard">
          <a ng-href="#">
              <span class="small-nav" data-toggle="tooltip" data-placement="right" title="Dashboard" bootstrap-tooltip>
                <i class="fa fa-tachometer"></i>
              </span>
          </a>
        </li>
        <li id="clients">
          <a ng-href="#clients">
              <span class="small-nav" data-toggle="tooltip" data-placement="right" title="Clients"  bootstrap-tooltip>
                <i class="fa fa-hdd-o"></i>
              </span>
          </a>
        </li>
        <li id="checks">
          <a ng-href="#checks">
              <span class="small-nav" data-toggle="tooltip" data-placement="right" title="Checks"  bootstrap-tooltip>
                <i class="fa fa-check-square"></i>
              </span>
          </a>
        </li>
        <li id="stashes">
          <a ng-href="#stashes">
              <span class="small-nav" data-toggle="tooltip" data-placement="right" title="Stashes"  bootstrap-tooltip>
                <i class="fa fa-database"></i>
              </span>
          </a>
        </li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</div>
