<div class="sidebar" role="navigation" ng-controller="sidebar">
  <div class="container">
    <div class="">
      <ul class="nav sidebar-nav">
        <li class="logo"></li>
        <li id="dashboard" ng-class="getClass('/events')">
          <a ng-href="#events">
              <span class="small-nav" tooltip-placement="right" tooltip="Events">
                <i class="fa fa-bullhorn"></i>
              </span>
          </a>
        </li>
        <li id="clients" ng-class="getClass('/clients')">
          <a ng-href="#clients">
              <span class="small-nav" tooltip-placement="right" tooltip="Clients">
                <i class="fa fa-hdd-o"></i>
              </span>
          </a>
        </li>
        <li id="checks" ng-class="getClass('/checks')">
          <a ng-href="#checks">
              <span class="small-nav" tooltip-placement="right" tooltip="Checks">
                <i class="fa fa-check-square"></i>
              </span>
          </a>
        </li>
        <li id="stashes" ng-class="getClass('/stashes')">
          <a ng-href="#stashes">
              <span class="small-nav" tooltip-placement="right" tooltip="Stashes">
                <i class="fa fa-briefcase"></i>
              </span>
          </a>
        </li>
        <li id="info" ng-class="getClass('/info')">
          <a ng-href="#info">
              <span class="small-nav" tooltip-placement="right" tooltip="Info">
                <i class="fa fa-info-circle"></i>
              </span>
          </a>
        </li>
        <li id="settings" ng-class="getClass('/settings')">
          <a ng-href="#settings" >
              <span class="small-nav" tooltip-placement="right" tooltip="Settings">
                <i class="fa fa-gear"></i>
              </span>
          </a>
        </li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</div>
