@import "variables";

.badge {
  position: relative;
  top: -16px;
  right: 10px;
  color: #FFFFFF;
  font-weight: 700;
  padding: 2px 5px;
}

.badge-critical {
  background-color: $critical-color;
}

.badge-warning {
  background-color: $warning-color;
}

.badge-success {
  background-color: $success-color;
}

.badge-unknown {
  background-color: $unknown-color;
}


.badge-default {
  background-color: $secondary-color;
}