@import "variables";

.btn {
  font-family: 'Roboto', sans-serif;
}

.circle-critical {
  background-color: $button-critical-background-color;
}

.circle-warning {
  background-color: $button-warning-background-color;
}

.circle-success {
  background-color: $button-success-background-color;
}

.circle-unknown {
  background-color: $button-unknown-background-color;
}

.circle {
  width: 10px;
  height: 10px;
  padding: 0 0 0 0;
  font-size: 15px;
  border-radius: 50%;
  outline:none!important;
  margin-right: 7px;
  display: inline-block;
}
