@import "variables";

.btn {
  font-family: 'Roboto', sans-serif;
}

.circle {
  width: 10px;
  height: 10px;
  padding: 0 0 0 0;
  font-size: 15px;
  border-radius: 50%;
  outline: none !important;
  margin-right: 7px;
  display: inline-block;
  @include context-colors;
}
