@import "variables";

.client .panel {
  margin-top: 21px;
}

.client .client-info .title {
  font-size: 18px;
  font-weight: bold;
}

.client .panel-heading .icon {
  font-size: 18px;
}

.client .panel-heading .icon i {
  padding-left: 5px;
}

.client .client-info .attributes {
  padding-top: 15px;
  padding-bottom: 15px;
}

.client .key {
  font-weight: bold;
}

.client .value {
  overflow-wrap: break-word;
  white-space: pre-line;
}

.client .value img {
  display: block;
}

.client .check-info .title {
  font-size: 14px;
  font-weight: bold;
}

.client .check-output {
  text-overflow: ellipsis;
  overflow : hidden;
  white-space: nowrap;
}
