@import "variables";

.dashboard {
  color: $dashboard-text-color;
  padding-top: 20px;
}

.dashboard .panel {
  height: 160px;
}

.dashboard .graph {
  height: 150px;
  color: $dashboard-graph-text-color;
}

.dashboard .icon {
  padding-top: 10px;
  text-align: center;
  display: inline-block;
  width: 100%;
}

.dashboard .stat-label {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0.75;
  padding-top: 5px;
}

.dashboard .count {
  font-weight: 700;
  font-size: 50px;
  line-height: 45px;
}

.dashboard .count-small {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.dashboard .critical {
  background-color: $dashboard-critical-background-color;
  min-height: 125px;
}

.dashboard .warning {
  background-color: $dashboard-warning-background-color;
  min-height: 125px;
}

.dashboard .success {
  background-color: $dashboard-success-background-color;
  min-height: 125px;
}

.dashboard .default {
  background-color: $dashboard-default-background-color;
  min-height: 125px;
}
