@import "variables";

.dropdown {
  display: inline;
  cursor: pointer;
}

.dropdown-menu {
  background-color: $dropdown-background-color;
  color: $dropdown-text-color;
}

.dropdown-menu-item {
  padding: 8px 0 8px 8px;
  font-weight: 400;
}

.dropdown-menu > li > a {
  color: $dropdown-text-color;
  padding: 7px 20px;
}

.dropdown-menu > li > a > i.fa {
  padding-right: 7px;
}

.dropdown-menu.left {
  left: -275%;
}

.show-on-hover:hover > div.dropdown-menu {
    display: block;
}

.navbar .dropdown-menu {
  top: 85%;
  min-width: 250px;
}

.navbar .dropdown-menu .heading {
  padding: 40px;
}
