@import "variables";

.sidebar {
  background-color: $sidebar-background-color;
}

.nav > .logo {
  background-color: $quinary-color;
  border-left: 3px $quinary-color;
  display: block;
  padding-left: 16px;
  padding-right: 15px;
  padding-top: 10px;
  height: 60px;
}

.sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 50px;
  height: 100%;
  border-radius: 0px;
  border: 0px;
  z-index: 1030;
}

.sidebar.open {
  width: 240px;
}

.sidebar > .container {
  padding: 0px;
  width: 100%;
}

.sidebar .sidebar-header,
.sidebar .sidebar-brand {
  float: none;
  display: block;
  width: 100%;
  margin: 0px;
}

.sidebar .sidebar-brand {
  height: 50px;
}

.sidebar > .container .sidebar-brand {
  padding: 0px;
  margin: 0px;
}

.sidebar > .container .sidebar-brand > .small-nav {
  display: block;
}

.sidebar.open > .container .sidebar-brand {
  width: 100%;
  padding: 15px 15px 60px;
  text-align: center;
}

.sidebar .sidebar-nav > li {
  float: none;
}

.sidebar > .container .full-nav {
  display: none;
}

.sidebar.open > .container .full-nav {
  display: block;
}

.sidebar.open > .container .small-nav {
  display: none;
}

.sidebar .sidebar-collapse {
  padding: 0px;
}

.sidebar .sidebar-nav {
  float: none;
  margin: 0px;
}

.sidebar .sidebar-nav > li > a {
  color: $sidebar-nav-text-color;
  padding: 0px;
  border-left: $sidebar-nav-border-left;
}

.sidebar .sidebar-nav > li > a:hover {
  color: $sidebar-nav-hover-text-color;
  background-color: $sidebar-nav-hover-background-color;
  border-left: $sidebar-nav-hover-border-left;
}

.sidebar .sidebar-nav > .selected > a {
  color: $sidebar-nav-selected-text-color;
  background-color: $sidebar-nav-selected-background-color;
  border-left: $sidebar-nav-selected-border-left;
}

.sidebar .sidebar-nav > li > a > span {
  display: block;
  font-size: 16pt;
  padding: 13px 15px 13px 12px;
}

.sidebar .tooltip,
.sidebar .tooltip .tooltip-inner {
  max-width: auto;
  white-space:nowrap;
  color: $sidebar-tooltip-text-color;
}

.sidebar .tooltip .tooltip-inner {
  background-color: $sidebar-tooltip-background-color;
}

.tooltip.right .tooltip-arrow {
  border-right: 5px solid $sidebar-tooltip-background-color;
}