@import "variables";

.table {
  margin-bottom: 10px;
}

.table td i {
  font-size: 15px;
  padding-left: 3px;
}

.table td.main {
  font-weight: 700;
}

.table td.output {
  text-overflow: ellipsis;
  overflow : hidden;
  white-space: nowrap;
}

.table td.check-name {
  text-overflow: ellipsis;
  overflow : hidden;
  white-space: nowrap;
}

.table th.col-min {
  width: 3%;
}

.table th.col-dc {
  width: 8%;
}

.table th.col-date {
  width: 13.5%;
}

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
  border-top: 0px;
}

.table > thead tr th, .table > thead > tr > th {
  padding-top: 15px !important;
  padding-top: 15px !important;
  border: none;
} 

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
  background-color: $table-tr-background-color !important;
}