@import "variables";

.panel {
  border: 0px;
  -webkit-box-shadow:0 0 0;
  box-shadow:0 0 0;
  margin-bottom: 10px;
  background-color: $panel-background-color;
}

.panel.critical, .panel.warning, .panel.success{
  color: #fff;
}

.panel .panel-title {
  font-size: 15px;
  text-transform: uppercase;
}

.panel .list-group-item {
  height:auto; overflow:auto;
  border-right: 0px;
  border-left: 0px;
  background-color: $panel-list-group-item-background-color;
}

.panel-default {
  background-color: $panel-default-background-color;
}

.label {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 10px;
}

.breadcrumb {
  font-size: 12px;
}

.btn-black, .btn-blue {
  background: $button-black-background-color;
  color: $button-black-text-color;
  border-color: $button-black-border-color;
}

.btn-critical {
  background-color: $button-critical-background-color;
  color: $button-critical-text-color;
  border:0px;
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
  background: $button-black-background-color;
  border-color: $button-black-alt-border-color;
  color: $button-black-text-color;
}

.title {
  text-transform: uppercase;
}

.subtitle {
  color: $quaternary-color;
  text-transform: uppercase;
  font-size: 12px;
}

.subtitle .fa {
  padding-right: 5px;
}

.timestamp {
  color: $timestamp-text-color;
  font-size: 12px;
}

.timestamp .fa {
  padding-right: 3px;
}
