/* Colors */
$primary-color: #ffffff !default;
$secondary-color: #2C394A !default;
$tertiary-color: #000000 !default;
$quaternary-color: #F0F1F5 !default;
$quinary-color: #5F97FB !default;
$senary-color: #434344 !default;

$critical-color: #EA5443 !default;
$warning-color: #F9BA46 !default;
$success-color: #43ac6a !default;
$unknown-color: #9C9990 !default;

/* Body, Sections and Headers */
$body-background-color: $quaternary-color !default;
$body-text-color: #4D4D4D !default;
$header-text-color: #56575B !default;
$section-header-border-bottom: 1px solid #EEEEEE !default;

/* Breadcrumb */
$breadcrumb-background-color: whitesmoke !default;
$breadcrumb-border-color: #dddddd !default;
$breadcrumb-text-color: $body-text-color !default;

/* Buttons */
$button-circle-background-color: $primary-color !default;
$button-circle-hover-text-color: $tertiary-color !default;

$button-hover-text-color: $quaternary-color !default;
$button-disabled-text-color: #C8C8C8 !default;

$button-critical-background-color: $critical-color !default;
$button-warning-background-color: $warning-color !default;
$button-success-background-color: $success-color !default;
$button-unknown-background-color: $unknown-color !default;

/* Dropdown */
$dropdown-background-color: #FFFFFF !default;
$dropdown-text-color: $body-text-color !default;

/* Nav */
$nav-text-color: $body-text-color !default;
$nav-non-default-state: #EEEEEE !default;

/* Navbar */
$navbar-background-color: $primary-color !default;
$navbar-text-color: $body-text-color !default;
$navbar-border-color: #dddddd !default;

/* Sidebar */
$sidebar-background-color: $secondary-color !default;
$sidebar-nav-text-color: $primary-color !default;
$sidebar-nav-border-left: 3px solid $secondary-color  !default;

$sidebar-nav-hover-text-color: $primary-color !default;
$sidebar-nav-hover-background-color: $secondary-color !default;
$sidebar-nav-hover-border-left: 3px solid $quinary-color !default;

$sidebar-nav-selected-text-color: $primary-color !default;
$sidebar-nav-selected-background-color: $secondary-color !default;
$sidebar-nav-selected-border-left: 3px solid $primary-color !default;

$sidebar-tooltip-background-color: $quinary-color !default;
$sidebar-tooltip-text-color: $primary-color !default;

/* Panels */
$panel-text-color: $body-text-color !default;
$panel-border-color: #dddddd !default;
$panel-top-text-color: #FFFFFF !default;
$panel-bottom-text-color: $body-text-color !default;
$panel-default-background-color: #FFFFFF !default;
$panel-default-heading-background-color: whitesmoke !default;
$panel-blue-background-color: $secondary-color !default;
$panel-critical-background-color: $critical-color !default;
$panel-warning-background-color: $warning-color !default;
$panel-success-background-color: $success-color !default;
$panel-unknown-background-color: $unknown-color !default;

/* Tables */
$table-tr-background-color: #F5F8FF !default;

/* Timestamp */
$timestamp-text-color: $quaternary-color !default;

/* Wells */
$well-background-color: #FAFAFA !default;
$well-success-border-left: 3px solid $success-color !default;
$well-warning-border-left: 3px solid $warning-color !default;
$well-critical-border-left: 3px solid $critical-color !default;
$well-unknown-border-left: 3px solid $unknown-color !default;
$well-default-border-left: 3px solid $secondary-color !default;
$well-lead-text-color: $quaternary-color !default;
$well-hover-background-color: #FFFFCC !default;